.custom-background {
  background-color: var(--background-color);
}
.custom-background-chat-list {
  max-width: 408px;
  background: linear-gradient(
      180deg,
      rgba(174, 205, 219, 0.8) 0%,
      rgba(27, 43, 54, 0.8) 15.1%
    ),
    #1b2b36;
}
.custom-card {
  min-height: 100px;
  max-height: 150px;
}
/* -------------------scroll------------------------------------------------------------ */

.scroll::-webkit-scrollbar {
  width: 14px;
  opacity: 0.7;
}
.scroll::-webkit-scrollbar:hover {
  opacity: 1;
}
.scroll::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.scroll::-webkit-scrollbar-thumb {
  opacity: 0.7;
  background-color: var(--background-color);
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 18px;
  min-height: 18px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
.scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
/* -------------------------scroll-2 */
.custom-scroll::-webkit-scrollbar {
  width: 14px;
  opacity: 0.7;
}
.custom-scroll::-webkit-scrollbar:hover {
  opacity: 1;
}
.custom-scroll::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.custom-scroll::-webkit-scrollbar-thumb {
  opacity: 0.7;
  background-color: var(--primary-color-blue);
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 18px;
  min-height: 18px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
