@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #aecddb;
  --white-space: #f4f8fb;
  --primary-color-blue: #1b2b36;
}
body {
  background-color: var(--white-space);
}
